@media screen and (min-width: 414px) and (max-width: 767px){










}







@media screen and (min-device-width: 360px) and (max-device-width: 413px){
nav{
    display:none;
}

.burger{
    display:block;
    position:absolute;
    margin-left: 45vw;
    margin-top:-183vw;
       /* background-color: white;*/
        width: 55vw;
        height: 80vw;
}

.burgerr {
        width: 17%;
        display: block !important;
        margin-top: -3vw;
        margin-left: 42vw;

}

.menu2 {
        position: absolute;
        width: 50vw;
        background-color: #2b3a30c6;
        top: 4vw;
        left: -2vw;
        padding: 3vw;
        text-align: right;
        height: 80vw;
}

.menu2 > a {
    display:block;
  color: #FCF5F0;
  text-decoration: none;
  font-size: 7vw;
  margin: 1vw 0;                
  text-align: right;
}

footer{
    height: 49vw;
    top: 201vw;
}

.footer{
    width: 150%;
}

.inf {
        margin-top: 4vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 5vw;
        gap: 0.5vw;    
}

.inf p {
  margin: 0;
}

.name{
    font-size: 5vw;
    margin-top: 4vw;
    margin-left: 3vw;
}

.group{
    font-size: 5vw;
    margin-top: -2vw;
    margin-left: 3vw;
}

.curator{
    font-size: 5vw;
    margin-top: -2vw;
    margin-left: 3vw;
}



.casino {
    color: #FBEFE7;
    font-size: 11vw;
    margin-top: 3vw;
    letter-spacing: -0.1vw;
    margin-left: 5vw;
    letter-spacing: -7%;
}

.read {
border-radius: 3vw;
        border: 0.2vw solid #FBEFE7;
        width: 28vw;
        height: 6vw;
        margin-top: 42vw;
        margin-left: -79vw;
}
    .read a {
    text-decoration: none;
    color: #FBEFE7;
    font-size: 3vw;
    font-weight: normal;
}

.page1{
        position: absolute;
        width: 28%;
        margin-top: 61vw;
        margin-left: 5vw;
}
.page3 {
        position: absolute;
        width: 28%;
        margin-top: 84vw;
        margin-left: 48vw;
}

.page2{
        position: absolute;
        width: 28%;
        margin-top: 70vw;
        margin-left: 29vw;
}

.page4{
        position: absolute;
        width: 28%;
        margin-top: 110vw;
        margin-left: 11vw;
}

.page{
    display: none;
}

.page5{
position: absolute;
        width: 28%;
        margin-top: 164vw;
        margin-left: 24vw;
}

.page7{
position: absolute;
        width: 28%;
        margin-top: 177vw;
        margin-left: 8vw;
}

.page8{
        position: absolute;
        width: 28%;
        margin-top: 194vw;
        margin-left: 53vw;
}

.page9{
        position: absolute;
        width: 28%;
        margin-top: 276vw;
        margin-left: 12vw;
}

.page10{
position: absolute;
        width: 28%;
        margin-top: 287vw;
        margin-left: 66vw;
}

.page11{
position: absolute;
        width: 28%;
        margin-top: 322vw;
        margin-left: 45vw;
}

.page12{
        position: absolute;
        width: 28%;
        margin-top: 340vw;
        margin-left: 28vw;
}

.br {
    color: #FBEFE7;
    margin-top: 2vw;
    font-size: 3.5vw;
    margin-left: 40vw;
}

.ov {
    color: #FBEFE7;
    margin-top: 0;
    font-size: 3.5vw;
    margin-left: 51vw;
}


}