body{
    width: 100vw;
    overflow-x: hidden;
    background-color: #2B3A31;
}

.menu > a{
    color:#FCF5F0;
   text-decoration: none;
   font-size: 1.3vw;
   position: fixed;
   margin-top: -14vw;
   margin-left: 1.9vw;
}

.navv{
    display:flex;
    justify-content: space-between;
width: 38vw;
position: fixed;
margin-left: 60vw;
margin-top: -14vw;
}

.navv a{
    color:#FCF5F0;
   text-decoration: none;
   font-size: 1.3vw;
}

.events{
    color:#FCF5F0;
    position: absolute;
    font-size: 7vw;
    margin-top: -8vw;
    letter-spacing: -0.1vw;
    margin-left: 2vw;
}


/*
.slide{
    width: 100vw;
    height: 80vw;
}


.notime{
    width: 40vw;
    height: 40vw;
    margin-top: 15vw;
    
}*/

.posters{
    width: 30vw;
    margin-left: 5vw;
    margin-top: 15vw;

}

.poster1{
    width: 90%;
    margin-top: 2vw;
    margin-left: 2vw;
}

.poster2{
    width: 90%;
    margin-top: 2vw;
    margin-left: 2vw;
}

.poster3{
    width: 90%;
    margin-top: 2vw;
    margin-left: 2vw;
}

.poster4{
    width: 90%;
    margin-top: 2vw;
    margin-left: 2vw;
}

.descriptors{
    width: 40vw;
    height: 80vw;
    margin-top: -160vw;
    margin-left: 40vw;
}

.notime{
    color: #FCF5F0;
    font-size: 3vw;
}

.date1{
    color: #FCF5F0;
    font-size: 2vw;
    margin-top: 4vw;
}

.descrip1{
    color: #FCF5F0;
    font-size: 1.5vw;
    margin-top: 2vw;
}

.half1{
    margin-top: 2vw;
    width: 60%;
}

.discovery{
     color: #FCF5F0;
    font-size: 3vw;
    margin-top: 5vw;
}

.tickets{
        width: 40vw;
    height: 80vw;
    margin-top: -80vw;
    margin-left: 75vw;
}

.tickets img{
    width: 37%;
}


footer{
    position:absolute;
    width: 100vw;
    height: 90vw;
    top: 180vw;
    overflow-x: hidden;
    height: 27vw;
}

.footer{
    width: 110%;
        width: 100vw;
    margin-top: 12vw;
    overflow-x: hidden;
    height: 27vw;
}

.name{
    color: #FBEFE7;
    font-size: 2vw;
    margin-top: 4vw;
    margin-left: 3vw;
}

.group{
    color: #FBEFE7;
    font-size: 2vw;
    margin-top: -2vw;
    margin-left: 3vw;
    text-align: center;
}

.curator{
    color: #FBEFE7;
    font-size: 2vw;
    margin-top: -2vw;
    text-align: right;
    margin-right: 3vw;
}