body{
    width: 100vw;
    overflow-x: hidden;
    background-color: #2B3A31;
}

.menu > a{
    color:#FCF5F0;
   text-decoration: none;
   font-size: 1.3vw;
   position: fixed;
   margin-top: -14vw;
   margin-left: 1.9vw;
}

.navv{
    display:flex;
    justify-content: space-between;
width: 38vw;
position: fixed;
margin-left: 60vw;
margin-top: -14vw;
}

.navv a{
    color:#FCF5F0;
   text-decoration: none;
   font-size: 1.3vw;
}

.events{
    color:#FCF5F0;
    position: absolute;
    font-size: 7vw;
    margin-top: -8vw;
    letter-spacing: -0.1vw;
    margin-left: 2vw;
}


/*
.slide{
    width: 100vw;
    height: 80vw;
}


.notime{
    width: 40vw;
    height: 40vw;
    margin-top: 15vw;
    
}*/

.posters{
    width: 30vw;
    margin-left: 5vw;
    margin-top: 15vw;

}

.poster1{
    width: 90%;
    margin-top: 2vw;
    margin-left: 2vw;
}

.poster2{
    width: 90%;
    margin-top: 2vw;
    margin-left: 2vw;
}

.poster3{
    width: 90%;
    margin-top: 2vw;
    margin-left: 2vw;
}

.poster4{
    width: 90%;
    margin-top: 2vw;
    margin-left: 2vw;
}