body{
    width: 100vw;
    overflow-x: hidden;
    background-color: #ffffff;
}

.menu > a{
    color:black;
   text-decoration: none;
   font-size: 1.3vw;
   position: fixed;
   margin-top: 1vw;
   margin-left: 1.9vw;
}

.navv{
    display:flex;
    justify-content: space-between;
width: 38vw;
position: fixed;
margin-left: 60vw;
margin-top: 1vw;
}

.navv a{
    color:black;
   text-decoration: none;
   font-size: 1.3vw;
}

.shopp{
    font-size: 6vw;
    margin-top: 8vw;
    letter-spacing: -0.1vw;
    margin-left: 1.9vw;
    letter-spacing: -7%;
    position: absolute;
}

.shop{font-family: "Montserrat-Bold";}

.cart{
    border-radius: 2vw;
    border: 0.2vw solid #000000;
    background-color: #ffffff;
    width: 15vw;
    height: 3vw;
    margin-top: 9vw;
    margin-left: 77vw;
}

.cart a{
    text-decoration: none;
    color: #000000;
    font-size: 1.5vw;
    font-weight: normal;
}

.lighter{
    border-radius: 2vw;
    margin-top: 3vw;
    border: 0.2vw solid #000000;
    width: 50vw;
    height: 40vw;
    margin-top: 4vw;
    margin-left: 3vw;
}

.lighterr{
    margin-top: 28vw;
    margin-left: 3vw;
}

.price1{
    margin-top: 1vw;
    margin-left: 3vw;
}

.ring{
    border-radius: 2vw;
    margin-top: 3vw;
    border: 0.2vw solid #000000;
    width: 42vw;
    height: 39vw;
    margin-top: -40.3vw;
    margin-left: 54.5vw;
}